/* tic tac game stylesheet */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

button {
  border: none;
  cursor: pointer;
}

span {
  cursor: default;
}

:root {
  --primary-color: #48a7ff;
  --secondary-color: #d3dae0;
  --secondary-color-light: #e3ecf3;
}

.tooltip-text {
  font-size: 16px;
        visibility: hidden;
        width: 150px;
        background-color: rgb(44, 44, 44);
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        bottom: -80%; /* Position above the container */
        left: 50%;
        margin-left: -60px; /* Center the tooltip */
    }

    .playwithcomputer:hover .tooltip-text {
        opacity: 0.8;
        visibility: visible;
    }

/* body styles */
body {
  background-color: var(--primary-color);
  height: 100vh;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 7rem;
  margin-bottom: 30px;
}

.home-btn-box {
  display: flex;
  gap: 20px;
}

.startbtn,.playwithcomputer {
  width: 300px;
  height: 70px;
  
  padding: 10px;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  border: 2px solid black;
  border-radius: 18px;
  background-color: var(--secondary-color);
  transition: all 0.5s ease;
}

.startbtn:hover ,.playwithcomputer:hover{
  background-color: var(--secondary-color-light);
  scale: 1.05;
}

.game-container {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: var(--secondary-color);
  border-radius: 6px;

  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  animation: ease-in-out 0.5s gameContainer;
}

@keyframes gameContainer {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes boardGrow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.display-score {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #131212e0;

  width: 100%;
  height: 50px;
}

.display-score div {
  padding: 6px 10px;
  font-size: 18px;
  color: white;
}

.display-score div span {
  color: red;
  background-color: black;
  padding: 4px;
}

.board {
  width: 350px;
  height: 350px;
  border-radius: 22px;
  padding: 22px;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;

  animation: boardGrow 0.5s ease-in-out;
}

.box {
  background-color: rgba(0, 0, 0, 0.747);
  color: white;
  font-size: 5rem;
  font-family: cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.box1 {
  border-radius: 22px 0 0 0;
}
.box3 {
  border-radius: 0 22px 0 0;
}
.box7 {
  border-radius: 0 0 0 22px;
}
.box9 {
  border-radius: 0 0 22px 0;
}

.box:hover {
  background-color: #131212e0;
}

.footer {
  width: 100%;
  background-color: #131212e0;
  height: 50px;
  display: flex;
  justify-content: space-around;
  padding: 6px;
}


.footer button {
  width: 100px;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.938);
  background-color: rgba(0, 0, 0, 0.418);
}

.footer button:hover {
  background-color: rgba(0, 0, 0, 0.596);
  scale: 1.05;
}

.runningStatus {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 50px;
}

#continue-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#continue-btn {
  background-color: rgb(19, 19, 19);
  color: white;
  width: 200px;
  height: 80px;
  position: absolute;
  top: 200px;
  left: 150px;
  font-size: 2rem;
  border-radius: 12px;
  display: none;
  box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
}
#continue-btn:hover {
  background-color: rgb(31, 31, 31);
}

/* Prevent text selection */
* {
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For old IE */
}

/* media queries */

/* For tablets: */
@media only screen and (max-width: 800px) {
  body {
    padding: 12px;
  }
  .heading {
    font-size: 6rem;
  }
  .startbtn,
  .playwithcomputer {
    font-size: 1.7rem;
    width: 270px;
  }
  .game-container {
    width: 450px;
    height: 450px;
  }
  .board {
    width: 300px;
    height: 300px;
    padding: 20px;
  }
  .box {
    font-size: 4rem;
  }
  #continue-btn {
    top: 180px;
    left: 120px;
  }
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
  body {
    padding: 12px;
  }
  .heading {
    font-size: 5rem;
  }
  .home-btn-box {
    flex-direction: column;
  }
  .startbtn, .playwithcomputer {
    font-size: 1.5rem;
    width: 240px;
  }
  .game-container {
    width: 400px;
    height: 400px;
  }
  .board {
    width: 250px;
    height: 250px;
    padding: 12px;
  }
  .box {
    font-size: 3rem;
  }
  #continue-btn {
    width: 170px;
    height: 70px;
    top: 160px;
    left: 120px;
  }
}

/* For smaller screens */
@media only screen and (max-width: 380px) {
  body {
    padding: 12px;
  }
  .heading {
    font-size: 4rem;
  }
    .startbtn, .playwithcomputer {
    font-size: 1.4rem;
    width: 220px;
    height: 60px;
  }
  .game-container {
    width: 310px;
    height: 310px;
  }
  .board {
    width: 200px;
    height: 200px;
    padding: 8px;
  }
  .box {
    font-size: 2rem;
  }
  .display-score div {
    font-size: 1rem;
  }
  .footer button {
    font-size: 1rem;
  }
  #continue-btn {
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    top: 120px;
    left: 80px;
  }
}
